{% extends 'product/base_info.html' %}
            {% block container %}

            <div class="am-u-sm-12 am-u-md-9 am-u-lg-9">
                <div class="com-nav-title">
                    <a href="#doc-oc-demo1" class="font am-show-sm-only" data-am-offcanvas>&#xe68b;</a>
                    <span>福建汉唐紫金</span>
                </div>
                <div class="com-nav-category">
                    <ul>
                        <li><span><a href="{% url 'product:product_info' %}">机构精评</a></span></li>
                        <li><span><a href="{% url 'product:product_info2' %}">机构观点</a></span></li>
                        <li><span><a href="{% url 'product:product_info3' %}">名家策略</a></span></li>
                        <li><span><a href="{% url 'product:product_info4' %}">名家精评</a></span></li>
                        <li><span><a href="{% url 'product:product_info5' %}">财富管理</a></span></li>
                        <li><span><a href="{% url 'product:product_info6' %}">交易策略</a></span></li>
                        <li><span><a href="{% url 'product:product_info7' %}">投资分享</a></span></li>

                    </ul>
                </div>
                <div class="product-list">
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-3">
                        <div class="product-list-item">                  
                            <div class="product-list-item-bj">
                                <a href="{% url 'product:product_info' %}"><img src="../../static/images/pro_4.jpeg" /></a>
                            </div>
                            <div class="product-list-item-title">
                                <a href="{% url 'product:product_info' %}" class="f-toe" style="text-align: center">机构精评</a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-3">
                        <div class="product-list-item">
                            <div class="product-list-item-bj">
                                <a href="{% url 'product:product_info2' %}"><img src="../../static/images/pro_5.jpg" /></a>
                            </div>
                            <div class="product-list-item-title">
                                <a href="{% url 'product:product_info2' %}" class="f-toe" style="text-align: center">机构观点</a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-3">
                        <div class="product-list-item">
                            <div class="product-list-item-bj">
                                <a href="{% url 'product:product_info3' %}"><img src="../../static/images/pro_9.jpg" /></a>
                            </div>
                            <div class="product-list-item-title">
                                <a href="{% url 'product:product_info3' %}" class="f-toe" style="text-align: center">名家策略</a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-3">
                        <div class="product-list-item">
                            <div class="product-list-item-bj">
                                <a href="{% url 'product:product_info4' %}"><img src="../../static/images/pro_14.jpg" /></a>
                            </div>
                            <div class="product-list-item-title">
                                <a href="{% url 'product:product_info4' %}" class="f-toe" style="text-align: center">名家精评</a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-3">
                        <div class="product-list-item">
                            <div class="product-list-item-bj">
                                <a href="{% url 'product:product_info5' %}"><img src="../../static/images/pro_18.jpg" /></a>
                            </div>
                            <div class="product-list-item-title">
                                <a href="{% url 'product:product_info5' %}" class="f-toe" style="text-align: center">财富管理</a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-3">
                        <div class="product-list-item">
                            <div class="product-list-item-bj">
                                <a href="{% url 'product:product_info6' %}"><img src="../../static/images/pro_11.jpg" /></a>
                            </div>
                            <div class="product-list-item-title">
                                <a href="{% url 'product:product_info6' %}" class="f-toe" style="text-align: center">交易策略</a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-3">
                        <div class="product-list-item">
                            <div class="product-list-item-bj">
                                <a href="{% url 'product:product_info7' %}"><img src="../../static/images/pro_12.jpg" /></a>
                            </div>
                            <div class="product-list-item-title">
                                <a href="{% url 'product:product_info7' %}" class="f-toe" style="text-align: center">投资分享</a>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-3">
                        <div class="product-list-item">
                            <div class="product-list-item-bj">
                                <a href="{% url 'product:product_info8' %}"><img src="../../static/images/pro_17.png" /></a>
                            </div>
                            <div class="product-list-item-title">
                                <a href="{% url 'product:product_info8' %}" class="f-toe" style="text-align: center">服务托管</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}