{% extends 'htzj/base.html' %}
{% load static %}

{% block main %}
<div id="banner2"> <img src="{% static 'images/jhyw-banner_02.jpg' %}" width="1440" height="214" /> </div>

<div style="background:#fff;">
<div id="main2">

  <div class="tittle"></div>

 <div class="tittle2">加华业务 / <b>Business</b></div>

  <div class="left">

    <div class="left-nav">

      <ul>
        <li><a href='#' class='red'>联系方式</a></li>
        <li><a href='#' >在线留言</a></li>
      </ul>

    </div>

    <div class="phone-bj">
      <div class="phone">
        <h2>联系我们 <b>Contact  Us</b></h2>
        <div class="phone-cn">
          <p>传真：0576-12345678</p>
          <p>电话：0576-12345678</p>
          <p>邮箱：web@xxxxxx.com</p>
          <p>地址：福建省福州市福建汉唐中金实业</p>
        </div>
      </div>
    </div>

  </div>

  <div class="right">

    <div class="weizhi">您现在的位置：<a href='#'>联系我们</a> > <a href='#'>联系方式</a></div>

    <div class="contact-lxfs">

      <p><strong>地址：</strong>福建省福州市汉唐中金实业有限公司</p>

      <p><strong>总机：</strong>0576-12345678</p>

      <p><strong>传真：</strong>0576-12345678</p>

      <p><strong>邮箱：</strong>web@xxxx.com</p>


        <div style="width:586px;height:396px;border:#ccc solid 1px;font-size:12px; margin-top:20px; margin-left:30px;" id="map"></div>
     
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BiOyGk48pHhPoGVuXG8CaBiY"></script>
    </div>

  </div>

</div>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){ 
      map = new BMap.Map("map"); 
      map.centerAndZoom(new BMap.Point(119.30 ,26.08),13);
    }
    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableKeyboard();
      map.enableDragging();
      map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        target.openInfoWindow(window);
      });
    }
    function addMapOverlay(){
      var markers = [
        {content:"我的备注",title:"我的标记",imageOffset: {width:-46,height:-21},position:{lat:26.08,lng:119.30}}
      ];
      for(var index = 0; index < markers.length; index++ ){
        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
        var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
        })});
        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
        var opts = {
          width: 200,
          title: markers[index].title,
          enableMessage: false
        };
        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
        marker.setLabel(label);
        addClickHandler(marker,infoWindow);
        map.addOverlay(marker);
      };
    }
    //向地图添加控件
    function addMapControl(){
      var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
      scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
      map.addControl(scaleControl);
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
      map.addControl(navControl);
      var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:false});
      map.addControl(overviewControl);
    }
    var map;
      initMap();
  </script>
{% endblock %}
