{% extends 'htzj/base.html' %}
{% load static %}

{% block main %}

<div id="banner2"> <img src="{% static 'images/tzzgx-banner_02.jpg' %}" width="1440" height="214" /> </div>
<div style="background:#fff">
<div id="main2">

  <div class="tittle"></div>

   <div class="tittle2">下载中心 / <b>Download</b></div>

  <div class="left">

    <div class="left-nav">

      <ul>
        <li><a href="#" class="red">下载中心</a></li>
        <li></li>
      </ul>

    </div>

   <div class="phone-bj">
      <div class="phone">
        <h2>联系我们 <b>Contact  Us</b></h2>
        <div class="phone-cn">
          <p>传真：0576-12345678</p>
          <p>电话：0576-12345678</p>
          <p>邮箱：web@xxxxxx.com</p>
          <p>地址：福建省福州市</p>
        </div>
      </div>
    </div>

  </div>

  <div class="right">

    <div class="weizhi">您现在的位置：<a href='#'>下载中心</a></div>

    <div class="news-zx">

    <ul>
		<li><span>2015-01-27</span><a href="#">XXXX软件下载</a></li>
    <li><span>2014-12-08</span><a href="#">XXXX软件下载</a></li>
    <li><span>2014-12-05</span><a href="#">XXXX软件下载</a></li>
    <li><span>2014-12-05</span><a href="#">XXXX软件下载</a></li>
    </ul>

        <div class="page"><span>共<b>4</b>页</span>
<a class="b">1</a>
<a href='#'><img src='{% static "images/page_39.jpg" %}' width='34' height='13' /></a>
</div>

    </div>

  </div>

</div>
</div>
{% endblock %}
