{% extends 'htzj/base.html' %}
{% load static %}

{% block main %}

<div id="banner2"> <img src="{% static 'images/20146122528.jpg' %}" width="1440" height="214" /> </div>
<div style="background:#FFF; width:100%;">
<div id="main2">
  <div class="tittle"></div>
  <div class="tittle2">黄金学院 / <b>Gold College</b></div>
  <div class="left">
    <div class="left-nav">
      <ul>
        <ul>
            <li><a href='{% url "product_list"%}' >&nbsp;&nbsp;黄金T+D</a></li>
  			<li><a href="{% url 'gold_college2' %}">&nbsp;&nbsp;纸黄金</a></li>
  			<li><a href="{% url 'gold_college3' %}">&nbsp;&nbsp;COMEX黄金</a></li>
  			<li><a href="{% url 'gold_college4' %}" class="red">&nbsp;&nbsp;伦敦金</a></li>
            <li><a href="{% url 'gold_college5' %}">&nbsp;&nbsp;金条</a></li>
            <li><a href="{% url 'gold_college6' %}">&nbsp;&nbsp;贵金属</a></li>
            <li><a href="{% url 'gold_college7' %}">&nbsp;&nbsp;投资技巧 </a></li>
            <li><a href="{% url 'gold_college8' %}">&nbsp;&nbsp;黄金投资</a></li>
            <li><a href="{% url 'gold_college9' %}">&nbsp;&nbsp;黄金学堂</a></li>
      </ul>
      </ul>
    </div>
    <div class="phone-bj">
      <div class="phone">
        <h2>联系我们 <b>Contact  Us</b></h2>
        <div class="phone-cn">
          <p>传真：0576-12345678</p>
          <p>电话：0576-12345678</p>
          <p>邮箱：web@xxxxxx.com</p>
          <p>地址：福建省福州市汉唐中金实业有限公司</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="weizhi">福建汉唐中金：<a href="{% url 'products'%}">黄金学院</a> > <a href='#'>伦敦金</a></div>
    <div class="Pro_Div">
       <div class="Pro_Title">伦敦金</div>
       <div class="Pro_PicCd" >
         <div class="P_picCord" style="padding: 10px"><img src="{% static 'images/5.jpeg' %}" width="280" height="185" ></div>
         <span style="font-size: 20px"><strong>伦敦金</strong>，伦敦金是指由伦敦国际金融期货交易所提供的一种交易产品，是存放在伦敦城地下金库里的99.5%纯度的400盎司金砖。
                    伦敦金不是一种黄金，而是一种贵金属保证金交易方式。因起源于伦敦而得名，在国际市场上已有超过300年的历史，是市场上最热门的黄金投资方式，广为投资者和炒家所追捧。
                 在亚洲，伦敦金以香港黄金市场为代表。伦敦金交易，投资者不必进行实物金的提取，这样就省去了黄金的运输、保管、检验、鉴定等步骤，
                其买入价与卖出价之间的差额要小于实金买卖的差价。加上部分公司并不收取客户任何佣金及手续费，进一步减少投资者的投资成本。
                在香港，黄金市场权威代表为成立逾百年的香港金银业贸易场，是香港唯一一间进行实货及现货黄金买卖的黄金及贵金属交易平台。
                任何交易商要成为贸易场的行员，必先通过严格审批。投资者在选择交易商时，应以金银业贸易场行员为标准，再配合计算投资成本及可获盈利，选择有利自己的投资伙伴。
         </span>
         </div>

       </div>
    </div>

  </div>
</div>
</div>
{% endblock %}
